
 /* body { background: url(fridge.png) no-repeat; }*/

 .letter { width: 30px; height:30px; border-style: solid; padding: 2px; float: left; margin: 2px; }

 .letter-button-color { color: darkcyan; }

 #display { margin-top:78px; height:500px; width:220px; margin-left:60px; }

 #buttons { padding-top:60px; }

 #clear { margin-left: 20px; font-size: 25px; color: black; border-style: solid; width: 100px; }

 ul#list-of-players li, ul#score-board li {
 	list-style-type:circle;
 	text-align: left;
 }

 ul#score-board {
 	padding: 5px;
 	margin: 5px;
 }

 .this-player-score {
        padding: 5px;
        margin-left: -5px;
        font-weight: bold;
    }
.this-player-score {
        background-color: rgba(255, 225, 0, 0.8);
    }

  
